*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  color: #7c7c7c;
  font-family: "Proza Libre", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0.5rem 2rem;
  max-width: 1100px;
}

@media (min-width: 768px) {
  .container {
    padding: 4rem 5rem;
  }
}

.heading__prim {
  font-size: 2rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .heading__prim {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.search-form {
  padding: 1rem;
  margin-bottom: 2rem;
}

input {
  margin-top: 2rem;
  width: 90%;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin-bottom: 4rem;
  }
  input {
    width: 30%;
    margin-top: 0;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-gap: 2rem;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.employee {
  padding: 2rem 2rem;
  border: 0.1rem solid;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #979ca0;
  cursor: pointer;
}

.employee:hover {
  border: black;
}

.employee__image {
  width: 100px;
  border-radius: 50%;
}

.employee__info {
  margin-top: 1.5rem;
}

.employee__name {
  font-size: 1.8rem;
  color: #4a535a;
}

@media (min-width: 768px) {
  .grid {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
  .employee {
    padding: 2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .employee__info {
    margin-left: 2rem;
    text-align: left;
  }
  .employee__email {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (33.33%)[3];
        grid-template-columns: repeat(3, 33.33%);
    grid-gap: 2.5rem;
  }
  .employee__email {
    font-size: 1.5rem;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(64, 68, 71, 0.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
  border: solid;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}

.modal__container {
  position: relative;
  border-radius: 1.5rem;
  background-color: #fff;
  padding: 3rem 2rem;
  width: 300px;
}

.modal__content {
  margin-top: 2rem;
}

hr {
  margin: 3rem 0;
}

.employee__address {
  margin: 1rem 0;
}

.fa {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
}

.fa-times {
  top: 2rem;
  right: 2.5rem;
}

.fa-chevron-left {
  top: 11rem;
  left: 5rem;
}

.fa-chevron-right {
  top: 11rem;
  right: 5rem;
}
