.search-form {
  padding: 1rem;
  margin-bottom: 2rem;
}

input {
  margin-top: 2rem;
  width: 90%;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 4rem;
  }

  input {
    width: 30%;
    margin-top: 0;
  }
}
