.header {
  padding: 3rem;
}

input {
  margin-top: 2rem;
  width: 90%;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input {
    width: 30%;
    margin-top: 0;
  }
}
