.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2rem;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.employee {
  padding: 2rem 2rem;
  border: 0.1rem solid;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #979ca0;
  cursor: pointer;

  &:hover {
    border: black;
  }

  &__image {
    width: 100px;
    border-radius: 50%;
  }

  &__info {
    margin-top: 1.5rem;
  }

  &__name {
    font-size: 1.8rem;
    color: #4a535a;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
  .employee {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: row;

    &__info {
      margin-left: 2rem;
      text-align: left;
    }

    &__email {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 1024px) {
  .grid {
    justify-content: center;
    grid-template-columns: repeat(3, 33.33%);
    grid-gap: 2.5rem;
  }

  .employee__email {
    font-size: 1.5rem;
  }
}
