.grid {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: auto;

  grid-gap: 1.5rem;
}

.employee {
  padding: 1rem 2rem;
  border: 0.1rem solid;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #979ca0;

  &__image {
    width: 100px;
    border-radius: 50%;
  }

  &__info {
    margin-left: 2rem;
  }

  &__name {
    font-size: 1.8rem;
    color: #4a535a;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .employee {
    padding: 2rem 3rem;
  }
}

@media (min-width: 1024px) {
  .grid {
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2.5rem;
  }
}
