*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  color: #7c7c7c;
  font-family: "Proza Libre", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 1100px;
}
